@import "/src/css/fontface.css";

/* Custom CSS Style phải gọi vào các class/ID hoặc có parent element */
/* Ví dụ : Bạn nên code vào .button thay vì a.button. */
:root {
  --text-color: #97a0af;
  --primary-color: #091e42;
  --border-color: #b3bac5;
  --disable-color: #ebecf0;
  --link-color: #0835d9;
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* 100% =16px  1rem = 16px*/
  font-size: 62.5%;
  /* tương ứng 62.5% = 10px  */
  font-family: "BeVietNam Pro", sans-serif !important;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* custom scroll  */
body {
  /* width: 100vw;
  height: 100vh; */
  width: 90%;
  margin: auto;
  overflow-x: hidden;
}

::selection {
  background: #ffce5c;
  color: #091e92;
}

.color-link {
  color: var(--link-color);
  text-decoration: none;
}

.color-link:hover {
  color: #062bb1;
  text-decoration: underline;
}

.color-link i {
  color: var(--link-color);
  cursor: pointer;
  font-size: 1.4rem;
}

.color-link i:hover {
  color: #e73d23;
}